@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: "ClashGrotesk", sans-serif;
}

@font-face {
  font-family: "ClashGrotesk";
  src: url("./fonts/ClashGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    background-color: white; /* Light background for light mode */
    color: black; /* Dark text for light mode */
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: black;
    color: white;
  
  }
}

html {
  scroll-behavior: smooth;
}
