.exploreproduct {
    background-color: black; 
    color: white;
    padding: 12px 50px; 
    border-radius: 10px;
}

.login {
    border: 1px solid black;
    border-radius: 10px;
    padding: 12px 30px;
    font-weight: bold;
}